# Establishing connection to db

In [2]:
from sqlalchemy import create_engine

In [3]:
engine = create_engine(f'postgresql://postgres:e2small-psql@34.87.70.241:5432/postgres')

# Generators

In [4]:
import random

In [5]:
def generate_id(n: int, id_type: str):

    id_map = {
        'customer': 'CUST',
        'employee': 'EMPL',
        'meter': 'METR',
        'tracking': 'TRKG'
    }

    if not id_type in id_map.keys():
        raise ValueError(f'Invalid id_type: {id_type}')
    

    ids = [f'{id_map[id_type]}{i+1:07d}' for i in range(n)]

    return ids

In [6]:
def generate_username(n: int, prefix: str = 'user'):

    return [prefix+str(i+1) for i in range(n)]

In [27]:
def generate_password(n: int):

    password_list = []

    for i in range(n):
        password = 'password' + str(i+1)
        password_list.append(hashlib.sha256(password.encode("utf-8")).hexdigest())

    return password_list

In [8]:
def generate_name(n: int):

    first_names = [
        "Emma", "Olivia", "Ava", "Isabella", "Sophia", "Mia", "Charlotte", "Amelia",
        "Harper", "Evelyn", "Abigail", "Emily", "Elizabeth", "Mila", "Ella", "Avery",
        "Sofia", "Camila", "Aria", "Scarlett", "Victoria", "Madison", "Luna", "Grace",
        "Chloe", "Penelope", "Layla", "Riley", "Zoey", "Nora", "Lily", "Eleanor", "Hannah",
        "Lillian", "Addison", "Aubrey", "Ellie", "Stella", "Natalie", "Zoe", "Leah",
        "Hazel", "Violet", "Aurora", "Savannah", "Audrey", "Brooklyn", "Bella", "Claire", "Skylar"
    ]

    last_names = [
        "Smith", "Johnson", "Williams", "Brown", "Jones", "Garcia", "Miller", "Davis",
        "Rodriguez", "Martinez", "Hernandez", "Lopez", "Gonzalez", "Wilson", "Anderson",
        "Thomas", "Taylor", "Moore", "Jackson", "Martin", "Lee", "Perez", "Thompson",
        "White", "Harris", "Sanchez", "Clark", "Ramirez", "Lewis", "Robinson", "Walker",
        "Young", "Allen", "King", "Wright", "Scott", "Torres", "Nguyen", "Hill", "Flores",
        "Green", "Adams", "Nelson", "Baker", "Hall", "Rivera", "Campbell", "Mitchell", "Carter"
    ]

    return random.choices(first_names, k=n), random.choices(last_names, k=n)

In [9]:
def generate_department(n: int):

    departments = [
        "Water Treatment Plant Operations",
        "Water Distribution and Maintenance",
        "Wastewater Treatment Operations",
        "Sewer and Stormwater Maintenance",
        "Engineering and Construction",
        "Customer Service and Billing",
        "Information Technology",
        "Human Resources",
        "Finance and Accounting",
        "Compliance and Regulation"
    ]

    return random.choices(departments, k=n)

In [10]:
def generate_employment_type(n: int):

    employment_types = [
        "Full-Time",
        "Part-Time",
        "Contractor",
        "Internship"
    ]

    return random.choices(employment_types, k=n)

In [11]:
def generate_position(n: int):

    positions = [
        "Manager",
        "Supervisor",
        "Executive",
        "Non-Executive",
        "Engineer",
        "Consultant",
        "Analyst",
        "Intern"
    ]

    return random.choices(positions, k=n)

In [12]:
def generate_address(n: int):

    addresses = []

    street_names = [
        "Jalan Bunga Raya", "Jalan Tanjung", "Jalan Puchong Prima", "Jalan Harmoni",
        "Jalan Bestari", "Jalan Anggerik", "Jalan Aman", "Jalan Bahagia", "Jalan Mutiara",
        "Jalan Perdana", "Jalan Seratus", "Jalan Seribu", "Jalan Indah", "Jalan Cemerlang",
        "Jalan Makmur", "Jalan Sejahtera", "Jalan Baiduri", "Jalan Permata", "Jalan Mesra",
        "Jalan Damai", "Jalan Hijau", "Jalan Bayu", "Jalan Kasturi", "Jalan Melati",
        "Jalan Kenanga", "Jalan Cempaka", "Jalan Teratai", "Jalan Suria", "Jalan Kemuning",
        "Jalan Bakau", "Jalan Sawit", "Jalan Pandan", "Jalan Cendana", "Jalan Jelutong",
        "Jalan Meranti", "Jalan Ketapang", "Jalan Jelatang", "Jalan Jati", "Jalan Kedondong",
        "Jalan Rambutan", "Jalan Delima", "Jalan Nangka", "Jalan Langsat", "Jalan Manggis",
        "Jalan Duku", "Jalan Cempedak", "Jalan Belimbing", "Jalan Bacang", "Jalan Salak"
    ]

    districts = [
        "Gombak", "Hulu Langat", "Sepang", "Petaling", "Klang",
        "Kuala Langat", "Kuala Selangor", "Hulu Selangor", "Sabak Bernam"
    ]

    for i in range(n):
        addresses.append(f'{random.randint(1, 60)}, {random.choice(street_names)}, {random.choice(districts)}')

    return addresses

In [13]:
from random import randrange
from datetime import timedelta

def random_time(start, end):
    """
    This function will return a random datetime between two datetime 
    objects.
    """
    delta = end - start
    int_delta = (delta.days * 24 * 60 * 60) + delta.seconds
    random_second = randrange(int_delta)    

    return start + timedelta(seconds=random_second)

In [14]:
from datetime import datetime

d = random_time(datetime(1967, 1, 1), datetime(2005, 1, 1))
d.strftime('%y%m%d')

'020420'

In [15]:
def generate_ic(n: int):

    ics = []

    for i in range(n):

        c = 0

        while True:

            date = random_time(datetime(1967, 1, 1), datetime(2005, 1, 1))
            date = date.strftime('%y%m%d')
            state_no = '%02d' % random.randint(1, 20)
            four_digits = random.randint(1000, 9999)
            ic = f'{date}-{state_no}-{four_digits}'
            
            if ic not in ics:
                break
        
        ics.append(ic)
    return ics

In [16]:
def generate_phone(n: int):

    phones = []

    for i in range(n):
        telco = random.randint(1,9)
        phone = random.randint(1000000, 99999999)
        phones.append(f'01{telco}-{phone}')

    return phones

In [17]:
def generate_age(n: int):

    return [random.randint(18, 60) for i in range(n)]

In [18]:
def generate_manufacturer(n: int):

    manufacturers = [
        "AquaMetrix Solutions",
        "HydroTech Innovations",
        "FlowMaster Metering",
        "PrecisionFlow Systems",
        "WaterGuard Meters",
        "NexusFlow Technologies"
    ]

    return random.choices(manufacturers, k=n)

In [19]:
def generate_region(n: int):

    regions = [
        "Gombak", "Hulu Langat", "Sepang", "Petaling", "Klang",
        "Kuala Langat", "Kuala Selangor", "Hulu Selangor", "Sabak Bernam"
    ]

    return random.choices(regions, k=n)

In [20]:
def generate_meter_size(n: int):

    return [random.randrange(30, 100, 5) for _ in range(n)]

In [21]:
def generate_meter_type(n: int):

    meter_types = [
        'Electromagnetic',
        'Digital',
        'Ultrasonic',
        'Compound',
        'Ceramic'
    ]

    return random.choices(meter_types, k=n)

In [22]:
def generate_model(manufacturer: str):

    acronym = ''.join([c for c in manufacturer if c.isupper()])
    number = random.randrange(100, 250, 50)

    return f'{acronym}-{number}'

# Generating data

In [24]:
import pandas as pd
import hashlib

## Customers

In [28]:
n = 50

df_cust = pd.DataFrame()
df_cust['customer_id'] = generate_id(n=n, id_type='customer')
df_cust['username'] = generate_username(n=n)
df_cust['password'] = generate_password(n=n)
df_cust['email'] = df_cust['username'] + '@gmail.com'
df_cust['first_name'] = generate_name(n=n)[0]
df_cust['last_name'] = generate_name(n=n)[1]
df_cust['address'] = generate_address(n=n)
df_cust['ic_no'] = generate_ic(n=n)
df_cust['phone_no'] = generate_phone(n=n)
df_cust['age'] = generate_age(n=n)

df_cust.head(2)

,customer_id,username,password,email,first_name,last_name,address,ic_no,phone_no,age
0,CUST0000001,user1,0b14d501a594442a01c6859541bcb3e8164d183d32937b...,user1@gmail.com,Violet,Thompson,"5, Jalan Nangka, Kuala Selangor",990303-08-3649,011-35141801,51
1,CUST0000002,user2,6cf615d5bcaac778352a8f1f3360d23f02f34ec182e259...,user2@gmail.com,Mia,Adams,"42, Jalan Cendana, Hulu Selangor",941008-10-5020,017-7462850,53

In [29]:
df_cust.to_sql(
    name='customers', 
    con=engine,
    if_exists='append',
    index=False
)

50

## Employee

In [30]:
n = 50

df_empl = pd.DataFrame()
df_empl['employee_id'] = generate_id(n=n, id_type='employee')
df_empl['username'] = generate_username(n=n, prefix='employee')
df_empl['password'] = generate_password(n=n)
df_empl['email'] = df_empl['username'] + '@airselangor.com'
df_empl['first_name'] = generate_name(n=n)[0]
df_empl['last_name'] = generate_name(n=n)[1]
df_empl['department'] = generate_department(n=n)
df_empl['position'] = generate_position(n=n)
df_empl['employment_type'] = generate_employment_type(n=n)

df_empl.head(2)

,employee_id,username,password,email,first_name,last_name,department,position,employment_type
0,EMPL0000001,employee1,0b14d501a594442a01c6859541bcb3e8164d183d32937b...,employee1@airselangor.com,Penelope,Walker,Water Treatment Plant Operations,Intern,Full-Time
1,EMPL0000002,employee2,6cf615d5bcaac778352a8f1f3360d23f02f34ec182e259...,employee2@airselangor.com,Camila,Scott,Customer Service and Billing,Analyst,Internship

In [31]:
df_empl.to_sql(
    name='employees',
    con=engine,
    if_exists='append',
    index=False
)

50

## Meters

In [24]:
n = 150

df_meter = pd.DataFrame()
df_meter['meter_serial'] = generate_id(n, id_type='meter')
df_meter['manufacturer'] = generate_manufacturer(n)
df_meter['store_region'] = generate_region(n)
df_meter['size'] = generate_meter_size(n)
df_meter['type'] = generate_meter_type(n)
df_meter['model'] = df_meter['manufacturer'].apply(generate_model)

df_meter.head(3)

,meter_serial,manufacturer,store_region,size,type,model
0,METR0000001,NexusFlow Technologies,Sabak Bernam,45,Electromagnetic,NFT-150
1,METR0000002,WaterGuard Meters,Petaling,85,Compound,WGM-200
2,METR0000003,FlowMaster Metering,Sepang,30,Digital,FMM-200

In [25]:
df_meter.to_sql(
    name='meters',
    con=engine,
    if_exists='append',
    index=False
)

150